workflow.json
{
  "name": "Email-Based Time Tracking to Airtable",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1344,
        192
      ],
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1120,
        192
      ],
      "id": "get-message",
      "name": "Get a message",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process all items, not just the first one\nreturn $input.all().map(item => {\n  const text = item.json.text;\n  \n  // Handle missing text gracefully\n  if (!text) {\n    return {\n      json: {\n        error: true,\n        errorMessage: 'Could not find text content.',\n        client: [],\n        date: null,\n        description: null,\n        notes: null,\n        recordId: null\n      }\n    };\n  }\n  \n  // Extract data from HTML comment markers\n  // Customize these markers to match your email format\n  const clientMatch = text.match(/<!-- START_CLIENT -->([\\s\\S]*?)<!-- END_CLIENT -->/)?.[1]?.trim();\n  const date = text.match(/<!-- START_DATE -->([\\s\\S]*?)<!-- END_DATE -->/)?.[1]?.trim();\n  const description = text.match(/<!-- START_DESC -->([\\s\\S]*?)<!-- END_DESC -->/)?.[1]?.trim();\n  const notes = text.match(/<!-- START_NOTES -->([\\s\\S]*?)<!-- END_NOTES -->/)?.[1]?.trim();\n  \n  // Build unique Record ID for deduplication\n  const recordId = date ? `${date.replace(/-/g, '')}-${clientMatch}` : null;\n  \n  return {\n    json: {\n      error: false,\n      client: clientMatch ? [clientMatch] : [],\n      date,\n      description,\n      notes,\n      recordId,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        192
      ],
      "id": "parse-email",
      "name": "Parse the Email (JavaScript)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "operator": {
                "type": "boolean",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        192
      ],
      "id": "check-extraction",
      "name": "Check Data Extraction Success"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "id"
        },
        "filterByFormula": "={{ 'RecordID = \"' + $('Parse the Email (JavaScript)').item.json.recordId + '\"' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -448,
        96
      ],
      "id": "search-records",
      "name": "Search Time Logs",
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "record-exists",
              "leftValue": "={{ $json.id.toBoolean() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ],
      "id": "check-exists",
      "name": "Record Exists?"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Notes": "={{ $('Parse the Email (JavaScript)').item.json.notes }}",
            "id": "={{ $json.id }}",
            "Description": "={{ $('Parse the Email (JavaScript)').item.json.description }}"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "update-record",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "RecordID": "={{ $('Parse the Email (JavaScript)').item.json.recordId }}",
            "Date": "={{ $('Parse the Email (JavaScript)').item.json.date }}",
            "Client": "={{ $('Parse the Email (JavaScript)').item.json.client }}",
            "Description": "={{ $('Parse the Email (JavaScript)').item.json.description }}",
            "Notes": "={{ $('Parse the Email (JavaScript)').item.json.notes }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        192
      ],
      "id": "create-record",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.error }}",
              "operator": {
                "type": "boolean",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        96
      ],
      "id": "check-success",
      "name": "Check Airtable Success"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": [
          "YOUR_SUCCESS_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "add-success-label",
      "name": "Add label to message",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Get a message').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        672,
        0
      ],
      "id": "mark-read",
      "name": "Mark message as read",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        896,
        0
      ],
      "id": "archive-message",
      "name": "Remove message from Inbox",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": [
          "YOUR_ERROR_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -448,
        288
      ],
      "id": "label-parse-error",
      "name": "Label as Error",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": [
          "YOUR_ERROR_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        192
      ],
      "id": "label-airtable-error",
      "name": "Label as Airtable Error",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Failed to extract required data from email. Message has been labeled for manual review."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -224,
        288
      ],
      "id": "error-parse",
      "name": "Error - Missing Required Data"
    },
    {
      "parameters": {
        "errorMessage": "Failed to create or update Airtable record. Message has been labeled for manual review."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        672,
        192
      ],
      "id": "error-airtable",
      "name": "Error - Airtable Operation Failed"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Parse the Email (JavaScript)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse the Email (JavaScript)": {
      "main": [
        [
          {
            "node": "Check Data Extraction Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Extraction Success": {
      "main": [
        [
          {
            "node": "Search Time Logs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label as Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Time Logs": {
      "main": [
        [
          {
            "node": "Record Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Exists?": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Check Airtable Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Check Airtable Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Airtable Success": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label as Airtable Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Mark message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark message as read": {
      "main": [
        [
          {
            "node": "Remove message from Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label as Error": {
      "main": [
        [
          {
            "node": "Error - Missing Required Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label as Airtable Error": {
      "main": [
        [
          {
            "node": "Error - Airtable Operation Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
